---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9WtWSKUDG.x5hyqXeboVoSErlfbiCvJNDfuwmN77rRhJ6tqCeFKFhuFvMNo0COBif7CT1NnevkMq464Qp&client_secret=3920716088724079571&username=tester%2Bnetguru%40netguru.co&password=testtest12398feCLrdLjqN7Ji8zhhWf3uc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://login.salesforce.com/id/00D20000000CtLCEA0/005200000039DC4AAM\",\"issued_at\":\"1396970132826\",\"instance_url\":\"https://emea.salesforce.com\",\"signature\":\"k4Bq1iTNQ7QmNtN40c4GuNTO/FzRB/g9lL+yGkXFTjk=\",\"access_token\":\"00D20000000CtLC!ARcAQD_4FVssYQj2LoRWNt2_AssFe_nfkwZRaG8Y_t7FIElRqwXY_GLZOjffsLQ5bBLSPgpfFTLk_DNFSG5tv0OJJFunyghd\"}"
  recorded_at: Tue, 08 Apr 2014 15:15:33 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'SPREE-T-SHIRT-S'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQD_4FVssYQj2LoRWNt2_AssFe_nfkwZRaG8Y_t7FIElRqwXY_GLZOjffsLQ5bBLSPgpfFTLk_DNFSG5tv0OJJFunyghd
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=103/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v26.0/sobjects/Product2/01t20000003xoy3AAA\"},\"Id\":\"01t20000003xoy3AAA\"}]}"
  recorded_at: Tue, 08 Apr 2014 15:15:33 GMT
recorded_with: VCR 2.8.0
