---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1418750929002","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"pHANT30C/jVAlm9ZZp6bX+qI6NbNHvHeVY26qhY7fSg=","access_token":"00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD"}'
  recorded_at: Tue, 16 Dec 2014 17:28:49 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=586/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"AccountId":"001j0000001wYXZAA2"}]}'
  recorded_at: Tue, 16 Dec 2014 17:28:50 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=586/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"Id":"003j0000001Qlh7AAC"}]}'
  recorded_at: Tue, 16 Dec 2014 17:28:51 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC
    body:
      encoding: UTF-8
      string: '{"FirstName":"Joe","LastName":"Smith","Email":"spree@example.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j0000001wYXZAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=586/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Dec 2014 17:28:52 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Contact.Account.Id%20FROM%20Contact%20WHERE%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=586/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Id":"001j0000001wYXZAA2"}}]}'
  recorded_at: Tue, 16 Dec 2014 17:28:54 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=588/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Tue, 16 Dec 2014 17:28:56 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Opportunity%20where%20Name%20=%20'R154085346'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002YB3cAAG"},"Id":"006j0000002YB3cAAG"}]}'
  recorded_at: Tue, 16 Dec 2014 17:28:57 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity/006j0000002YB3cAAG
    body:
      encoding: UTF-8
      string: '{"AccountId":"001j0000001wYXZAA2","Amount":220,"CloseDate":"2014-02-03T17:29:15.219Z","Name":"R154085346","Pricebook2Id":"01sj0000000DbL5AAK","StageName":"closed-won"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Dec 2014 17:28:58 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'SPREE-T-SHIRT'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000005bjJAAQ"},"Id":"01tj00000005bjJAAQ"}]}'
  recorded_at: Tue, 16 Dec 2014 17:29:00 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Pricebook2%20where%20isStandard=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Tue, 16 Dec 2014 17:29:01 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Product2/01tj00000005bjJAAQ
    body:
      encoding: UTF-8
      string: '{"Name":"Spree T-Shirt","ProductCode":"SPREE-T-SHIRT"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Dec 2014 17:29:01 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000005bjJAAQ'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RWrGAAW"},"Id":"01uj0000000RWrGAAW"}]}'
  recorded_at: Tue, 16 Dec 2014 17:29:02 GMT
[...]
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RWrGAAW
    body:
      encoding: UTF-8
      string: '{"UnitPrice":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=587/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Dec 2014 17:29:04 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id,%20IsActive%20from%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000005bjJAAQ'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=588/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RWrGAAW"},"Id":"01uj0000000RWrGAAW","IsActive":true}]}'
  recorded_at: Tue, 16 Dec 2014 17:29:12 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000002YB3cAAG'%20and%20PricebookEntryId%20=%20'01uj0000000RWrGAAW'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=588/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 16 Dec 2014 17:29:13 GMT
recorded_with: VCR 2.9.3
