---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:45:53 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1422315954132","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"1maqIz6j318ONDHfu5cbBnSDgTLOG30iln12F5iRoSk=","access_token":"00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi."}'
  recorded_at: Mon, 26 Jan 2015 23:45:54 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=142/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS"},"AccountId":"001j000000EtyDOAAZ"}]}'
  recorded_at: Mon, 26 Jan 2015 23:45:55 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=142/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS"},"Id":"003j0000008Iy1MAAS"}]}'
  recorded_at: Mon, 26 Jan 2015 23:45:56 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS
    body:
      encoding: UTF-8
      string: '{"FirstName":"Dev","LastName":"Commerce","Email":"dev@spreecommerce.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j000000EtyDOAAZ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=142/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Jan 2015 23:45:57 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:45:58 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'R4352REG43534545'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=142/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 26 Jan 2015 23:46:00 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Amount":210,"Probability":"100","CloseDate":"2015-01-20T17:29:15.219Z","Name":"R4352REG43534545","Pricebook2Id":"01sj0000000DbL5AAK","LeadSource":"Web","StageName":"closed-won","AccountId":"001j000000EtyDOAAZ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=142/15000
      Location:
      - "/services/data/v26.0/sobjects/Opportunity/006j0000003QhOtAAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"006j0000003QhOtAAK","success":true,"errors":[]}'
  recorded_at: Mon, 26 Jan 2015 23:46:01 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:02 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'324324134'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=148/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000i0nUAAQ"},"Id":"01tj0000000i0nUAAQ"}]}'
  recorded_at: Mon, 26 Jan 2015 23:46:05 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj0000000i0nUAAQ'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=147/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000S98KAAS"},"Id":"01uj0000000S98KAAS","IsActive":true}]}'
  recorded_at: Mon, 26 Jan 2015 23:46:06 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01uj0000000S98KAAS
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:08 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000003QhOtAAK'%20and%20PricebookEntryId%20=%20'01uj0000000S98KAAS'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:12 GMT
[...]
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":12.33,"OpportunityId":"006j0000003QhOtAAK","PricebookEntryId":"01uj0000000S98KAAS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=151/15000
      Location:
      - "/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003fkqiAAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00kj0000003fkqiAAA","success":true,"errors":[]}'
  recorded_at: Mon, 26 Jan 2015 23:46:15 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000009HO6AAM'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=151/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMQAA0"},"Id":"01uj0000000RcMQAA0","IsActive":true}]}'
  recorded_at: Mon, 26 Jan 2015 23:46:17 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMQAA0
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":10.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:18 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000003QhOtAAK'%20and%20PricebookEntryId%20=%20'01uj0000000RcMQAA0'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=151/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 26 Jan 2015 23:46:20 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment%20%23%2063'%20AND%20ParentId%20=%20'006j0000003QhOtAAK'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:23 GMT
[...]
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Payment # 63","Body":"Number: 63\nStatus: completed\nAmount:
        210\nPayment Method: Credit Card\n","IsPrivate":false,"ParentId":"006j0000003QhOtAAK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=151/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000001imaxAAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000001imaxAAA","success":true,"errors":[]}'
  recorded_at: Mon, 26 Jan 2015 23:46:25 GMT
recorded_with: VCR 2.9.3
