---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1419298108145","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"qVeIPSiyxXggaOLnCBji9af6xoI80nxSt+0NozdnSt0=","access_token":"00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g"}'
  recorded_at: Tue, 23 Dec 2014 01:28:28 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity/Name/R43534532545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=36/15000
      Last-Modified:
      - Thu, 18 Dec 2014 01:21:09 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002YAdbAAG"},"Id":"006j0000002YAdbAAG","IsDeleted":false,"AccountId":"001j0000001wYXZAA2","IsPrivate":false,"Name":"R43534532545","Description":null,"StageName":"closed-won","Amount":1600.0,"Probability":0.0,"ExpectedRevenue":0.0,"TotalOpportunityQuantity":16.0,"CloseDate":"2014-02-03","Type":null,"NextStep":null,"LeadSource":"Web","IsClosed":false,"IsWon":false,"ForecastCategory":"Omitted","ForecastCategoryName":"Omitted","CampaignId":null,"HasOpportunityLineItem":true,"Pricebook2Id":"01sj0000000DbL5AAK","OwnerId":"005j000000Au8sKAAR","CreatedDate":"2014-12-16T03:47:35.000+0000","CreatedById":"005j000000Au8sKAAR","LastModifiedDate":"2014-12-18T01:21:09.000+0000","LastModifiedById":"005j000000Au8sKAAR","SystemModstamp":"2014-12-18T01:21:09.000+0000","LastActivityDate":null,"FiscalQuarter":1,"FiscalYear":2014,"Fiscal":"2014
        1","DeliveryInstallationStatus__c":null,"TrackingNumber__c":null,"OrderNumber__c":null,"CurrentGenerators__c":null,"MainCompetitors__c":null}'
  recorded_at: Tue, 23 Dec 2014 01:28:30 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Shipment%20%23%2012836136992'%20AND%20ParentId%20=%20'006j0000002YAdbAAG'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=37/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:28:35 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Shipment # 12836136992","Body":"Email: spree@example.com\nStatus:
        ready\nCost: 5\nShipping Method: UPS Ground (USD)\nTracking: 12345678\nItems:
        Spree T-Shirt\n","IsPrivate":false,"ParentId":"006j0000002YAdbAAG"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=37/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000001KkZBAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000001KkZBAA0","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:28:37 GMT
recorded_with: VCR 2.9.3
