---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1413916174995","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"qS3BX9uDPk6Vvi3G4VynGVdu3qzBf2SJQiPbVHq0lj8=","access_token":"00Dj0000000HAIT!AQoAQEq2ZP7kvxdyHgaS7S0AQFtviH72zEcMYQS1P.Dltw.cPMvkx8YwCAvG1ialIb5hY9H05azNwmlQpclrud4ch1AExdP3"}'
  recorded_at: Tue, 21 Oct 2014 18:29:35 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Account__c%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEq2ZP7kvxdyHgaS7S0AQFtviH72zEcMYQS1P.Dltw.cPMvkx8YwCAvG1ialIb5hY9H05azNwmlQpclrud4ch1AExdP3
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Sforce-Limit-Info:
      - api-usage=60/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"\nselect Account__c from Contact where Email\n       ^\nERROR
        at Row:1:Column:8\nNo such column ''Account__c'' on entity ''Contact''. If
        you are attempting to use a custom field, be sure to append the ''__c'' after
        the custom field name. Please reference your WSDL or the describe call for
        the appropriate names.","errorCode":"INVALID_FIELD"}]'
  recorded_at: Tue, 21 Oct 2014 18:29:36 GMT
recorded_with: VCR 2.8.0
