---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9WtWSKUDG.x5hyqXeboVoSErlfbiCvJNDfuwmN77rRhJ6tqCeFKFhuFvMNo0COBif7CT1NnevkMq464Qp&client_secret=3920716088724079571&username=tester%2Bnetguru%40netguru.co&password=testtest12398feCLrdLjqN7Ji8zhhWf3uc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://login.salesforce.com/id/00D20000000CtLCEA0/005200000039DC4AAM\",\"issued_at\":\"1398156965056\",\"token_type\":\"Bearer\",\"instance_url\":\"https://emea.salesforce.com\",\"signature\":\"cPqvEPb8sPDVR6D/M5u3IzBHt45LOYsUCUfloYKmbHk=\",\"access_token\":\"00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6\"}"
  recorded_at: Tue, 22 Apr 2014 08:56:15 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Account__c%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=55/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Contact\",\"url\":\"/services/data/v26.0/sobjects/Contact/0032000001CocEKAAZ\"},\"Account__c\":\"00120000017cLeRAAU\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:16 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=55/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Contact\",\"url\":\"/services/data/v26.0/sobjects/Contact/0032000001CocEKAAZ\"},\"Id\":\"0032000001CocEKAAZ\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:17 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Contact/0032000001CocEKAAZ
    body:
      encoding: UTF-8
      string: "{\"FirstName\":\"Joe\",\"LastName\":\"Smith\",\"Email\":\"spree@example.com\",\"MailingStreet\":\"1234
        Awesome Street\",\"MailingCity\":\"Hollywood\",\"MailingState\":\"California\",\"MailingPostalCode\":\"90210\",\"MailingCountry\":\"US\",\"OtherStreet\":\"1234
        Awesome Street\",\"OtherCity\":\"Hollywood\",\"OtherState\":\"California\",\"OtherPostalCode\":\"90210\",\"OtherCountry\":\"US\",\"Phone\":\"0000000000\",\"OtherPhone\":\"0000000000\",\"Account__c\":\"00120000017cLeRAAU\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=56/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Apr 2014 08:56:18 GMT
[...]
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Order__c%20where%20Id__c%20=%20'R154085346'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=55/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":2,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Order__c\",\"url\":\"/services/data/v26.0/sobjects/Order__c/a002000000UnPtNAAV\"},\"Id\":\"a002000000UnPtNAAV\"},{\"attributes\":{\"type\":\"Order__c\",\"url\":\"/services/data/v26.0/sobjects/Order__c/a002000000UnPtSAAV\"},\"Id\":\"a002000000UnPtSAAV\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:21 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Order__c/a002000000UnPtNAAV
    body:
      encoding: UTF-8
      string: "{\"Id__c\":\"R154085346\",\"Status__c\":\"complete\",\"Channel__c\":\"spree\",\"Email__c\":\"spree@example.com\",\"Currency__c\":\"USD\",\"PlacedOn__c\":\"2014-02-03T17:29:15.219Z\",\"Subtotal__c\":200,\"Adjustment__c\":10,\"Tax__c\":0,\"Shipping__c\":10,\"Payment__c\":220,\"Total__c\":220,\"ContactId__c\":\"0032000001CocEKAAZ\",\"Account__c\":\"00120000017cLeRAAU\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=55/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Apr 2014 08:56:22 GMT
[...]
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'SPREE-T-SHIRT'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=56/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v26.0/sobjects/Product2/01t20000003yFGGAA2\"},\"Id\":\"01t20000003yFGGAA2\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:23 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Product2/01t20000003yFGGAA2
    body:
      encoding: UTF-8
      string: "{\"Name\":\"Spree T-Shirt\",\"ProductCode\":\"SPREE-T-SHIRT\",\"Price__c\":100,\"ExternalID__c\":\"SPREE-T-SHIRT\",\"Currency__c\":null}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=57/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Apr 2014 08:56:24 GMT
[...]
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20LineItem__c%20where%20Order__c%20=%20'a002000000UnPtNAAV'%20and%20Product__c%20=%20'01t20000003yFGGAA2'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=56/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"LineItem__c\",\"url\":\"/services/data/v26.0/sobjects/LineItem__c/a022000000RrUxyAAF\"},\"Id\":\"a022000000RrUxyAAF\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:27 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/LineItem__c/a022000000RrUxyAAF
    body:
      encoding: UTF-8
      string: "{\"Quantity__c\":2,\"Price__c\":100,\"Currency__c\":null,\"Order__c\":\"a002000000UnPtNAAV\",\"Product__c\":\"01t20000003yFGGAA2\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=58/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Apr 2014 08:56:28 GMT
[...]
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Payment__c%20where%20Number__c%20=%20'63'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=60/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Payment__c\",\"url\":\"/services/data/v26.0/sobjects/Payment__c/a032000000DqYnwAAF\"},\"Id\":\"a032000000DqYnwAAF\"}]}"
  recorded_at: Tue, 22 Apr 2014 08:56:31 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Payment__c/a032000000DqYnwAAF
    body:
      encoding: UTF-8
      string: "{\"Number__c\":63,\"Status__c\":\"completed\",\"Amount__c\":220,\"Method__c\":\"Credit
        Card\",\"Order__c\":\"a002000000UnPtNAAV\",\"Account__c\":\"00120000017cLeRAAU\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOQIBzjFw6NKiFX._jaU84nm9l_Q7FDu.X2sL8.1A5MGAXC.hBh7gqTlqgNVGvL6vZYDWKepw9w4M.UCRcqzopwK.tv6
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=58/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Apr 2014 08:56:32 GMT
recorded_with: VCR 2.8.0
