---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1418750810874","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"Z1mR8MWkjFmMS5fz5qj16dedQm/ukSezx4fu3mol/Ic=","access_token":"00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD"}'
  recorded_at: Tue, 16 Dec 2014 17:26:51 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Opportunity%20where%20Name%20=%20'R43534532545'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=583/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002YAdbAAG"},"Id":"006j0000002YAdbAAG"}]}'
  recorded_at: Tue, 16 Dec 2014 17:26:52 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Note%20where%20Title%20=%20'Return:Return:31'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=583/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 16 Dec 2014 17:26:53 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Return:31","Body":"Status: \nAmount: \nExtra: \n","IsPrivate":false,"ParentId":"006j0000002YAdbAAG"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQDW_16F.5i7groMtESDPUdFoofrcaYTudkl0sgpIcTilVE4hyJ6VQvP46V5cRyTij26_GVgWOX6QjxascXgzme_gGiyD
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=583/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000001D38BAAS"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000001D38BAAS","success":true,"errors":[]}'
  recorded_at: Tue, 16 Dec 2014 17:26:54 GMT
recorded_with: VCR 2.9.3
