---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1419298483563","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"s48N9tNIvASqwuq+IGpyW+0rGDVL5B+YrJjlXiFoub4=","access_token":"00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g"}'
  recorded_at: Tue, 23 Dec 2014 01:34:43 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"AccountId":"001j0000001wYXZAA2"}]}'
  recorded_at: Tue, 23 Dec 2014 01:34:44 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"Id":"003j0000001Qlh7AAC"}]}'
  recorded_at: Tue, 23 Dec 2014 01:34:45 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC
    body:
      encoding: UTF-8
      string: '{"FirstName":"Joe","LastName":"Smith","Email":"spree@example.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j0000001wYXZAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 23 Dec 2014 01:34:46 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Tue, 23 Dec 2014 01:34:48 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'R777899900'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:49 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Amount":210,"CloseDate":"2014-12-17T17:29:15.219Z","Name":"R777899900","Pricebook2Id":"01sj0000000DbL5AAK","LeadSource":"Web","StageName":"closed-won","AccountId":"001j0000001wYXZAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Location:
      - "/services/data/v26.0/sobjects/Opportunity/006j0000002tztXAAQ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"006j0000002tztXAAQ","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:50 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Tue, 23 Dec 2014 01:34:52 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'998122323'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:53 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"JS","ProductCode":"998122323","Description":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=60/15000
      Location:
      - "/services/data/v26.0/sobjects/Product2/01tj00000009HO1AAM"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01tj00000009HO1AAM","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:54 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000009HO1AAM'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:55 GMT
[...]
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01sj0000000DbL5AAK","Product2Id":"01tj00000009HO1AAM","UnitPrice":12.33,"IsActive":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=60/15000
      Location:
      - "/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMLAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01uj0000000RcMLAA0","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:57 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000002tztXAAQ'%20and%20PricebookEntryId%20=%20'01uj0000000RcMLAA0'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=60/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:34:59 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":12.33,"OpportunityId":"006j0000002tztXAAQ","PricebookEntryId":"01uj0000000RcMLAA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Location:
      - "/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003b1OpAAI"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00kj0000003b1OpAAI","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:35:00 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000002tztXAAQ'%20and%20PricebookEntryId%20=%20'01uj0000000RcMQAA0'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=59/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:35:06 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment%20%23%2063'%20AND%20ParentId%20=%20'006j0000002tztXAAQ'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=62/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Tue, 23 Dec 2014 01:35:09 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Payment # 63","Body":"Number: 63\nStatus: completed\nAmount:
        210\nPayment Method: Credit Card\n","IsPrivate":false,"ParentId":"006j0000002tztXAAQ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQIChpiaVGX_HZUhn66J9fOQ39jGe6f1ckqSd7qjzl8OmYcWGjwRaRkEp09EL5la2u4c3L50pHme9QKRczPTtJzmvle_g
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=61/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000001KkZGAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000001KkZGAA0","success":true,"errors":[]}'
  recorded_at: Tue, 23 Dec 2014 01:35:10 GMT
recorded_with: VCR 2.9.3
