---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Opportunity/Name/R4352REG43534545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 02 Apr 2015 18:18:25 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1427998707058","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"aEcoNehVHV53ubcnSzpHFvLz/ISdl60OYEH7X/qWstM=","access_token":"00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT"}'
  recorded_at: Thu, 02 Apr 2015 18:18:27 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Opportunity/Name/R4352REG43534545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Last-Modified:
      - Tue, 24 Feb 2015 01:50:43 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000003QhOtAAK"},"Id":"006j0000003QhOtAAK","IsDeleted":false,"AccountId":"001j000000EtyDOAAZ","IsPrivate":false,"Name":"R4352REG43534545","Description":null,"StageName":"closed-won","Amount":69.98,"Probability":100.0,"ExpectedRevenue":69.98,"TotalOpportunityQuantity":6.0,"CloseDate":"2015-01-20","Type":null,"NextStep":null,"LeadSource":"Web","IsClosed":false,"IsWon":false,"ForecastCategory":"Omitted","ForecastCategoryName":"Omitted","CampaignId":null,"HasOpportunityLineItem":true,"Pricebook2Id":"01sj0000000DbL5AAK","OwnerId":"005j000000Au8sKAAR","CreatedDate":"2015-01-26T23:46:01.000+0000","CreatedById":"005j000000Au8sKAAR","LastModifiedDate":"2015-02-24T01:50:43.000+0000","LastModifiedById":"005j000000Au8sKAAR","SystemModstamp":"2015-02-24T01:50:43.000+0000","LastActivityDate":null,"FiscalQuarter":1,"FiscalYear":2015,"Fiscal":"2015
        1","SyncedQuoteId":null,"DeliveryInstallationStatus__c":null,"TrackingNumber__c":null,"OrderNumber__c":null,"CurrentGenerators__c":null,"MainCompetitors__c":null}'
  recorded_at: Thu, 02 Apr 2015 18:18:28 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Shipment%20%23%2012836136992'%20AND%20ParentId%20=%20'006j0000003QhOtAAK'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Note","url":"/services/data/v26.0/sobjects/Note/002j0000002kzQHAAY"},"Id":"002j0000002kzQHAAY"}]}'
  recorded_at: Thu, 02 Apr 2015 18:18:29 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Note/002j0000002kzQHAAY
    body:
      encoding: UTF-8
      string: '{"Title":"Shipment # 12836136992","Body":"Email: spree@example.com\nStatus:
        ready\nCost: 5\nShipping Method: UPS Ground (USD)\nTracking: 12345678\nItems:
        Spree T-Shirt\n","IsPrivate":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 18:18:29 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'R154085346427558'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000003k3jTAAQ"},"Id":"006j0000003k3jTAAQ"}]}'
  recorded_at: Thu, 02 Apr 2015 18:18:30 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Contact.Account.Id%20FROM%20Contact%20WHERE%20Email%20=%20'pelico@music.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000009eQbQAAU"},"Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j000000GJYPYAA5"},"Id":"001j000000GJYPYAA5"}}]}'
  recorded_at: Thu, 02 Apr 2015 18:18:31 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Album__c%20WHERE%20Name%20=%20'Unplugged%20in%20New%20York'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Album__c","url":"/services/data/v26.0/sobjects/Album__c/a01j0000004QBw6AAG"},"Id":"a01j0000004QBw6AAG"}]}'
  recorded_at: Thu, 02 Apr 2015 18:18:32 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Album__c/a01j0000004QBw6AAG
    body:
      encoding: UTF-8
      string: '{"Name":"Unplugged in New York","Year__c":"1994","Opportunity__c":"006j0000003k3jTAAQ","Account__c":"001j000000GJYPYAA5"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLjIKNTVI2UKHKsRNwcTi8bM.yZRuB0sha1HbiBKcnyZW6hXC3dEATjT60y69XnipZIlO4gIo..xpf9EfOfogh1ZkqeT
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=41/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 18:18:33 GMT
recorded_with: VCR 2.9.3
