---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9WtWSKUDG.x5hyqXeboVoSErlfbiCvJNDfuwmN77rRhJ6tqCeFKFhuFvMNo0COBif7CT1NnevkMq464Qp&client_secret=3920716088724079571&username=tester%2Bnetguru%40netguru.co&password=testtest12398feCLrdLjqN7Ji8zhhWf3uc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://login.salesforce.com/id/00D20000000CtLCEA0/005200000039DC4AAM\",\"issued_at\":\"1396789218933\",\"instance_url\":\"https://emea.salesforce.com\",\"signature\":\"Rheqxty8H+GsuaftnTbKvEGWz3ed6cGR0WprQ7KLoq4=\",\"access_token\":\"00D20000000CtLC!ARcAQCkMhFElN2XovyFamCrS49Ak8rO0iMDzEXqa_DzDeRrn0iMJ1WHbpVn3GdD_yoxlF5xsxV.7EL.bOOANvRm4bRBE5Dlf\"}"
  recorded_at: Sun, 06 Apr 2014 13:00:19 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'SPREE-T-SHIRT-S'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQCkMhFElN2XovyFamCrS49Ak8rO0iMDzEXqa_DzDeRrn0iMJ1WHbpVn3GdD_yoxlF5xsxV.7EL.bOOANvRm4bRBE5Dlf
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=44/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v26.0/sobjects/Product2/01t20000003xgb9AAA\"},\"Id\":\"01t20000003xgb9AAA\"}]}"
  recorded_at: Sun, 06 Apr 2014 13:00:20 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Product2/01t20000003xgb9AAA
    body:
      encoding: UTF-8
      string: "{\"Name\":\"Spree T-Shirt\",\"ProductCode\":\"SPREE-T-SHIRT-S\",\"Description\":\"Awesome
        Spree T-Shirt\",\"Price__c\":35}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQCkMhFElN2XovyFamCrS49Ak8rO0iMDzEXqa_DzDeRrn0iMJ1WHbpVn3GdD_yoxlF5xsxV.7EL.bOOANvRm4bRBE5Dlf
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=44/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 06 Apr 2014 13:00:20 GMT
[...]
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Product2/01t20000003xgb9AAA
    body:
      encoding: UTF-8
      string: "{\"Name\":\"Spree T-Shirt\",\"ProductCode\":\"SPREE-T-SHIRT-S\",\"Description\":\"Awesome
        Spree T-Shirt\",\"Price__c\":35}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQCkMhFElN2XovyFamCrS49Ak8rO0iMDzEXqa_DzDeRrn0iMJ1WHbpVn3GdD_yoxlF5xsxV.7EL.bOOANvRm4bRBE5Dlf
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=44/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 06 Apr 2014 13:00:27 GMT
recorded_with: VCR 2.8.0
