---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1420504452533","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"kUejG8SLvNkCFBdDxfiXytsX9bpHF1JTjmiA5jAlq9g=","access_token":"00Dj0000000HAIT!AQoAQBQrlWLLfj4Q9.r5wdR_aRFlSWo4v9OVI.eZ3JqDpbv6dWJD_89BKpCmsAKeI2niS3dy.FI2EZ2hud_AHaO4prKysa2D"}'
  recorded_at: Tue, 06 Jan 2015 00:34:12 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity/Name/R43534532545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQBQrlWLLfj4Q9.r5wdR_aRFlSWo4v9OVI.eZ3JqDpbv6dWJD_89BKpCmsAKeI2niS3dy.FI2EZ2hud_AHaO4prKysa2D
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Last-Modified:
      - Tue, 23 Dec 2014 01:36:35 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002YAdbAAG"},"Id":"006j0000002YAdbAAG","IsDeleted":false,"AccountId":"001j0000001wYXZAA2","IsPrivate":false,"Name":"R43534532545","Description":null,"StageName":"closed-won","Amount":1600.0,"Probability":0.0,"ExpectedRevenue":0.0,"TotalOpportunityQuantity":16.0,"CloseDate":"2014-02-03","Type":null,"NextStep":null,"LeadSource":"Web","IsClosed":false,"IsWon":false,"ForecastCategory":"Omitted","ForecastCategoryName":"Omitted","CampaignId":null,"HasOpportunityLineItem":true,"Pricebook2Id":"01sj0000000DbL5AAK","OwnerId":"005j000000Au8sKAAR","CreatedDate":"2014-12-16T03:47:35.000+0000","CreatedById":"005j000000Au8sKAAR","LastModifiedDate":"2014-12-23T01:36:35.000+0000","LastModifiedById":"005j000000Au8sKAAR","SystemModstamp":"2014-12-23T01:36:35.000+0000","LastActivityDate":null,"FiscalQuarter":1,"FiscalYear":2014,"Fiscal":"2014
        1","DeliveryInstallationStatus__c":null,"TrackingNumber__c":null,"OrderNumber__c":null,"CurrentGenerators__c":null,"MainCompetitors__c":null}'
  recorded_at: Tue, 06 Jan 2015 00:34:13 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Return%20%23%2031'%20AND%20ParentId%20=%20'006j0000002YAdbAAG'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQBQrlWLLfj4Q9.r5wdR_aRFlSWo4v9OVI.eZ3JqDpbv6dWJD_89BKpCmsAKeI2niS3dy.FI2EZ2hud_AHaO4prKysa2D
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Note","url":"/services/data/v26.0/sobjects/Note/002j0000001KrEHAA0"},"Id":"002j0000001KrEHAA0"}]}'
  recorded_at: Tue, 06 Jan 2015 00:34:15 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Note/002j0000001KrEHAA0
    body:
      encoding: UTF-8
      string: '{"Title":"Return # 31","Body":"Status: received\nAmount: 129.0\nReturned
        items: SPREE-T-SHIRT: (2) \n","IsPrivate":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQBQrlWLLfj4Q9.r5wdR_aRFlSWo4v9OVI.eZ3JqDpbv6dWJD_89BKpCmsAKeI2niS3dy.FI2EZ2hud_AHaO4prKysa2D
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Jan 2015 00:34:16 GMT
recorded_with: VCR 2.9.3
