---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1418784641354","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"SKIgRRgTiQLuDvSRM2DEIx9kC22TNLq2cfzKDIpeW8U=","access_token":"00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg"}'
  recorded_at: Wed, 17 Dec 2014 02:50:41 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'34532454253534'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=719/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Dec 2014 02:50:42 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=719/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Wed, 17 Dec 2014 02:50:43 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"December Shirts","ProductCode":"34532454253534","Description":"Awesome
        Spree T-Shirt"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=719/15000
      Location:
      - "/services/data/v26.0/sobjects/Product2/01tj00000009ExzAAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01tj00000009ExzAAE","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 02:50:44 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000009ExzAAE'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=721/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Dec 2014 02:50:45 GMT
[...]
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01sj0000000DbL5AAK","Product2Id":"01tj00000009ExzAAE","UnitPrice":44,"IsActive":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKvpqha0wXWjg6Is_ZSbK718ALUhUGsYsQppgF_2KrYU6MpMGS.dRdgjP1ob.aFbKrpRJZC_aTRRxvobaz888oN9Bsfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=720/15000
      Location:
      - "/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RXVYAA4"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01uj0000000RXVYAA4","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 02:50:47 GMT
recorded_with: VCR 2.9.3
