---
http_interactions:
- request:
    method: get
    uri: instance_url/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'agent@matrix.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:30:27 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1422315028555","scope":"api
        refresh_token","instance_url":"instance_url","token_type":"Bearer","signature":"TPoqIzscbmEQgzLaVuzt9o7aibyL2LxxDkwTOrbbjCw=","access_token":"00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi."}'
  recorded_at: Mon, 26 Jan 2015 23:30:28 GMT
- request:
    method: get
    uri: instance_url/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'agent@matrix.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=130/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008IyLlAAK"},"AccountId":null}]}'
  recorded_at: Mon, 26 Jan 2015 23:30:29 GMT
- request:
    method: post
    uri: instance_url/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"Agent Smith","AccountNumber":"agent@matrix.com","ShippingStreet":"1234
        Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","channel__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:30:30 GMT
[...]
- request:
    method: post
    uri: instance_url/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"Agent Smith","AccountNumber":"agent@matrix.com","ShippingStreet":"1234
        Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","channel__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=130/15000
      Location:
      - "/services/data/v26.0/sobjects/Account/001j000000Etz6aAAB"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"001j000000Etz6aAAB","success":true,"errors":[]}'
  recorded_at: Mon, 26 Jan 2015 23:30:32 GMT
- request:
    method: get
    uri: instance_url/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'agent@matrix.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=131/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008IyLlAAK"},"Id":"003j0000008IyLlAAK"}]}'
  recorded_at: Mon, 26 Jan 2015 23:30:33 GMT
- request:
    method: patch
    uri: instance_url/services/data/v26.0/sobjects/Contact/003j0000008IyLlAAK
    body:
      encoding: UTF-8
      string: '{"FirstName":"Agent","LastName":"Smith","Email":"agent@matrix.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j000000Etz6aAAB"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=130/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Jan 2015 23:30:34 GMT
recorded_with: VCR 2.9.3
