---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1418843098835","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"9blmNBEHgpvCZP/plfhJHeoD+kwObs8MAp2Uxx0hjKA=","access_token":"00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx"}'
  recorded_at: Wed, 17 Dec 2014 19:04:58 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"AccountId":"001j0000001wYXZAA2"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:00 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"Id":"003j0000001Qlh7AAC"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:00 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC
    body:
      encoding: UTF-8
      string: '{"FirstName":"Joe","LastName":"Smith","Email":"spree@example.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j0000001wYXZAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Dec 2014 19:05:02 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:04 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'R324199999'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002tSOwAAM"},"Id":"006j0000002tSOwAAM"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:06 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity/006j0000002tSOwAAM
    body:
      encoding: UTF-8
      string: '{"Amount":210,"CloseDate":"2014-12-17T17:29:15.219Z","Name":"R324199999","Pricebook2Id":"01sj0000000DbL5AAK","StageName":"closed-won","AccountId":"001j0000001wYXZAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Dec 2014 19:05:07 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=156/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:09 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'152014'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009F6rAAE"},"Id":"01tj00000009F6rAAE"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:10 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000009F6rAAE'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=156/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RYGhAAO"},"Id":"01uj0000000RYGhAAO","IsActive":true}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:12 GMT
[...]
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RYGhAAO
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=157/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Dec 2014 19:05:14 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000002tSOwAAM'%20and%20PricebookEntryId%20=%20'01uj0000000RYGhAAO'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003NJevAAG"},"Id":"00kj0000003NJevAAG"}]}'
  recorded_at: Wed, 17 Dec 2014 19:05:16 GMT
- request:
    method: patch
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003NJevAAG
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=156/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Dec 2014 19:05:17 GMT
[...]
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"Otto Sem Gravidade Nebulosas","ProductCode":"152914","Description":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Location:
      - "/services/data/v26.0/sobjects/Product2/01tj00000009F8YAAU"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01tj00000009F8YAAU","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:19 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000000DbL5AAK'%20and%20Product2Id%20=%20'01tj00000009F8YAAU'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:20 GMT
[...]
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01sj0000000DbL5AAK","Product2Id":"01tj00000009F8YAAU","UnitPrice":10.33,"IsActive":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=156/15000
      Location:
      - "/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RYHGAA4"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01uj0000000RYHGAA4","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:23 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j0000002tSOwAAM'%20and%20PricebookEntryId%20=%20'01uj0000000RYHGAA4'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:24 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":10.33,"OpportunityId":"006j0000002tSOwAAM","PricebookEntryId":"01uj0000000RYHGAA4"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=155/15000
      Location:
      - "/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003NJf0AAG"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00kj0000003NJf0AAG","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:25 GMT
[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment:Payment:63'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=158/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:28 GMT
- request:
    method: post
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Payment:63","Body":"Number: 63\nStatus: completed\nAmount:
        210\nPayment Method: Credit Card\n","IsPrivate":false,"ParentId":"006j0000002tSOwAAM"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQMMlns8.2_SHmcgj.8iP_mBOA_j5N9t6NbR9sfnD8sYm8ZCP1cHWbytObJwJJ_DSyZmJTZnAnj3orJlFMIpNHny9knPx
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=156/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000001D5CsAAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000001D5CsAAK","success":true,"errors":[]}'
  recorded_at: Wed, 17 Dec 2014 19:05:29 GMT
recorded_with: VCR 2.9.3
