---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20Name,%20Amount,%20CloseDate,%20LastModifiedDate,%20Account.Id,%20(SELECT%20Quantity,%20UnitPrice,%20PricebookEntry.Product2.Name,%20PricebookEntry.Product2.ProductCode%20FROM%20OpportunityLineItems),%20(SELECT%20Title,%20Body%20FROM%20Notes%20WHERE%20Title%20LIKE%20'Payment%25')%20FROM%20Opportunity%20WHERE%20LeadSource%20=%20'Web'%20AND%20StageName%20=%20'closed-won'%20AND%20LastModifiedDate%20%3E%202014-12-17T12:08:52Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:46:57 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1422316018300","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"zJkdbOjj2Y79ThFP2423R6yciRSClrOrMm2rwxUceo4=","access_token":"00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi."}'
  recorded_at: Mon, 26 Jan 2015 23:46:58 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20Name,%20Amount,%20CloseDate,%20LastModifiedDate,%20Account.Id,%20(SELECT%20Quantity,%20UnitPrice,%20PricebookEntry.Product2.Name,%20PricebookEntry.Product2.ProductCode%20FROM%20OpportunityLineItems),%20(SELECT%20Title,%20Body%20FROM%20Notes%20WHERE%20Title%20LIKE%20'Payment%25')%20FROM%20Opportunity%20WHERE%20LeadSource%20=%20'Web'%20AND%20StageName%20=%20'closed-won'%20AND%20LastModifiedDate%20%3E%202014-12-17T12:08:52Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=160/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":15,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002tztNAAQ"},"Id":"006j0000002tztNAAQ","Name":"R66777799","Amount":45.32,"CloseDate":"2014-12-17","LastModifiedDate":"2014-12-23T01:32:44.000+0000","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Id":"001j0000001wYXZAA2"},"OpportunityLineItems":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003b1OfAAI"},"Quantity":2.0,"UnitPrice":12.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMBAA0"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009HNrAAM"},"Name":"Rust","ProductCode":"221214"}}},{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003b1OkAAI"},"Quantity":2.0,"UnitPrice":10.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMGAA0"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009HNwAAM"},"Name":"Haskell","ProductCode":"222231"}}}]},"Notes":null},{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002tztXAAQ"},"Id":"006j0000002tztXAAQ","Name":"R777899900","Amount":45.32,"CloseDate":"2014-12-17","LastModifiedDate":"2014-12-23T01:35:07.000+0000","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Id":"001j0000001wYXZAA2"},"OpportunityLineItems":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003b1OpAAI"},"Quantity":2.0,"UnitPrice":12.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMLAA0"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009HO1AAM"},"Name":"JS","ProductCode":"998122323"}}},{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj0000003b1OuAAI"},"Quantity":2.0,"UnitPrice":10.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMQAA0"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009HO6AAM"},"Name":"Java","ProductCode":"09238888"}}}]},"Notes":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Note","url":"/services/data/v26.0/sobjects/Note/002j0000001KkZGAA0"},"Title":"Payment
        # 63","Body":"Number: 63\nStatus: completed\nAmount: 210\nPayment Method:
        Credit Card"}]}},{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j0000002vOwSAAU"},"Id":"006j0000002vOwSAAU","Name":"R55555555509","Amount":45.32,"CloseDate":"2014-12-17","LastModifiedDate":"2015-01-06T18:15:59.000+0000","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Id":"001j0000001wYXZAA2"},"OpportunityLineItems":{"totalSize"[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Account.Id,%20Account.BillingCity,%20Account.BillingCountry,%20Account.BillingPostalCode,%20Account.BillingState,%20Account.BillingStreet,%20Account.Phone,%20Account.ShippingCity,%20Account.ShippingCountry,%20Account.ShippingPostalCode,%20Account.ShippingState,%20Account.ShippingStreet,%20(SELECT%20FirstName,%20LastName,%20Email%20FROM%20Contacts)%20FROM%20Account%20WHERE%20Id%20IN%20('001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j000000ELezVAAT',%20'001j000000EiUN4AAN',%20'001j000000EikLCAAZ',%20'001j000000Ek8pvAAB',%20'001j000000EkI4YAAV',%20'001j000000EkJ5RAAV',%20'001j000000EtyDOAAZ',%20'001j000000EtyDOAAZ',%20'001j0000001wYXZAA2')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:47:00 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Account.Id,%20Account.BillingCity,%20Account.BillingCountry,%20Account.BillingPostalCode,%20Account.BillingState,%20Account.BillingStreet,%20Account.Phone,%20Account.ShippingCity,%20Account.ShippingCountry,%20Account.ShippingPostalCode,%20Account.ShippingState,%20Account.ShippingStreet,%20(SELECT%20FirstName,%20LastName,%20Email%20FROM%20Contacts)%20FROM%20Account%20WHERE%20Id%20IN%20('001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j0000001wYXZAA2',%20'001j000000ELezVAAT',%20'001j000000EiUN4AAN',%20'001j000000EikLCAAZ',%20'001j000000Ek8pvAAB',%20'001j000000EkI4YAAV',%20'001j000000EkJ5RAAV',%20'001j000000EtyDOAAZ',%20'001j000000EtyDOAAZ',%20'001j0000001wYXZAA2')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=160/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":8,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Id":"001j0000001wYXZAA2","BillingCity":"Bethesda","BillingCountry":null,"BillingPostalCode":null,"BillingState":"MD","BillingStreet":"Awesome
        Street","Phone":null,"ShippingCity":null,"ShippingCountry":null,"ShippingPostalCode":null,"ShippingState":null,"ShippingStreet":null,"Contacts":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"FirstName":"Joe","LastName":"Smith","Email":"spree@example.com"}]}},{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j000000ELezVAAT"},"Id":"001j000000ELezVAAT","BillingCity":null,"BillingCountry":null,"BillingPostalCode":null,"BillingState":null,"BillingStreet":null,"Phone":null,"ShippingCity":null,"ShippingCountry":null,"ShippingPostalCode":null,"ShippingState":null,"ShippingStreet":null,"Contacts":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Co[...]
[...]
