---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1414439933021","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"hmhVB7NFPUuhnKcXq/UquEY15gxnrPaiVrryfLo6PYE=","access_token":"00Dj0000000HAIT!AQoAQO3.sA9TZCfsUw5b_bHMAAU0POqpkb15Bx_TNH9sEw00N5UCSVxtlmHdHTFRkPxcYRkw.I7kY_dECHgWTXVLRgZEsI6d"}'
  recorded_at: Mon, 27 Oct 2014 19:58:55 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20ProductCode,%20Description,%20LastModifiedDate%20from%20Product2%20where%20LastModifiedDate%20%3E%202014-10-17T19:14:57Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQO3.sA9TZCfsUw5b_bHMAAU0POqpkb15Bx_TNH9sEw00N5UCSVxtlmHdHTFRkPxcYRkw.I7kY_dECHgWTXVLRgZEsI6d
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=27/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":26,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2RPAA0"},"Id":"01tj0000000I2RPAA0","Name":"GenWatt
        Diesel 200kW","ProductCode":"GC1040","Description":null,"LastModifiedDate":"2014-10-21T11:48:34.000+0000"},{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2RfAAK"},"Id":"01tj0000000I2RfAAK","Name":"Installation:
        Industrial - Medium","ProductCode":"IN7060","Description":null,"LastModifiedDate":"2014-10-21T11:48:34.000+0000"},{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2ReAAK"},"Id":"01tj0000000I2ReAAK","Name":"GenWatt
        Gasoline 2000kW","ProductCode":"GC5060","Descrip[...]
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=select%20Product2Id,%20UnitPrice%20from%20PricebookEntry%20where%20Product2Id%20in%20('01tj0000000I2RPAA0',%20'01tj0000000I2RfAAK',%20'01tj0000000I2ReAAK',%20'01tj0000000I2RdAAK',%20'01tj0000000I2RcAAK',%20'01tj0000000I2RbAAK',%20'01tj0000000I2RaAAK',%20'01tj0000000I2RZAA0',%20'01tj0000000I2RYAA0',%20'01tj0000000I2RXAA0',%20'01tj0000000I2RWAA0',%20'01tj0000000I2RVAA0',%20'01tj0000000I2RUAA0',%20'01tj0000000I2RTAA0',%20'01tj0000000I2RSAA0',%20'01tj0000000I2RRAA0',%20'01tj0000000I2RQAA0',%20'01tj00000005bjJAAQ',%20'01tj00000005bjiAAA',%20'01tj00000005bjnAAA',%20'01tj00000005bjsAAA',%20'01tj00000005bjxAAA',%20'01tj00000005bk2AAA',%20'01tj00000005bk7AAA',%20'01tj00000005bkCAAQ',%20'01tj00000005bkgAAA')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQO3.sA9TZCfsUw5b_bHMAAU0POqpkb15Bx_TNH9sEw00N5UCSVxtlmHdHTFRkPxcYRkw.I7kY_dECHgWTXVLRgZEsI6d
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=27/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":38,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000P6g5AAC"},"Product2Id":"01tj00000005bk2AAA","UnitPrice":33.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000P6gAAAS"},"Product2Id":"01tj00000005bk7AAA","UnitPrice":35.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000P6gFAAS"},"Product2Id":"01tj00000005bkCAAQ","UnitPrice":44.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000P6p4AAC"},"Product2Id":"01tj00000005bkgAAA","UnitPrice":101.0},{[...]
