---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1414442872030","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"k1tI16oYl9BzIDgAQrzWf5c+qASFSOZGf+0re3Gbu9o=","access_token":"00Dj0000000HAIT!AQoAQO3.sA9TZCfsUw5b_bHMAAU0POqpkb15Bx_TNH9sEw00N5UCSVxtlmHdHTFRkPxcYRkw.I7kY_dECHgWTXVLRgZEsI6d"}'
  recorded_at: Mon, 27 Oct 2014 20:47:54 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/query?q=SELECT%20Contact.Id,%20Contact.Firstname,%20Contact.Lastname,%20Contact.Email,%20Contact.Account.Name,%20Contact.Account.AccountNumber,%20Contact.Account.BillingCity,%20Contact.Account.BillingCountry,%20Contact.Account.BillingPostalCode,%20Contact.Account.BillingState,%20Contact.Account.BillingStreet,%20Contact.Account.Rating,%20Contact.Account.Phone,%20Contact.Account.ShippingCity,%20Contact.Account.ShippingCountry,%20Contact.Account.ShippingPostalCode,%20Contact.Account.ShippingState,%20Contact.Account.ShippingStreet,%20Contact.Account.Website,%20Contact.Account.Type,%20Contact.LastModifiedDate%20FROM%20Contact%20WHERE%20LastModifiedDate%20%3E%202014-10-25T21:06:36Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQO3.sA9TZCfsUw5b_bHMAAU0POqpkb15Bx_TNH9sEw00N5UCSVxtlmHdHTFRkPxcYRkw.I7kY_dECHgWTXVLRgZEsI6d
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=44/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001Qlh7AAC"},"Id":"003j0000001Qlh7AAC","FirstName":"Brian","LastName":"Smith","Email":"spree@example.com","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wYXZAA2"},"Name":"Brian
        Smith","AccountNumber":null,"BillingCity":"Bethesda","BillingCountry":null,"BillingPostalCode":null,"BillingState":"MD","BillingStreet":"Awesome
        Street","Rating":null,"Phone":null,"ShippingCity":null,"ShippingCountry":null,"ShippingPostalCode":null,"ShippingState":null,"ShippingStreet":null,"Website":null,"Type":null},"LastModifiedDate":"2014-10-27T16:50:16.000+0000"},{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000001QovwAAC"},"Id":"003j0000001QovwAAC","FirstName":"Washington","LastName":"Smith","Email":"washington@wombat.com","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j0000001wcSoAAI"},"Name":"Washington
        Smith","AccountNumber":"b435232435","BillingCity":null,"BillingCountry":null,"BillingPostalCode":null,"BillingState":null,"BillingStreet":null,"Rating":null,"Phone":null,"ShippingCity":null,"ShippingCountry":null,"ShippingPostalCode":null,"ShippingState":null,"ShippingStreet":null,"Website":null,"Type":null},"LastModifiedDate":"2014-10-27T20:41:53.000+0000"}]}'
  recorded_at: Mon, 27 Oct 2014 20:47:55 GMT
recorded_with: VCR 2.9.3
