---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20ProductCode,%20Description,%20LastModifiedDate%20from%20Product2%20where%20LastModifiedDate%20%3E%202014-10-17T19:14:57Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:45:40 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1422315941442","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"PvLD5pxpvpAqzzR+jsUuaI+6vXPr0kzW0FWJMF5nnHs=","access_token":"00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi."}'
  recorded_at: Mon, 26 Jan 2015 23:45:41 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20ProductCode,%20Description,%20LastModifiedDate%20from%20Product2%20where%20LastModifiedDate%20%3E%202014-10-17T19:14:57Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=137/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":39,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2RPAA0"},"Id":"01tj0000000I2RPAA0","Name":"GenWatt
        Diesel 200kW","ProductCode":"GC1040","Description":null,"LastModifiedDate":"2014-10-21T11:48:34.000+0000"},{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2RfAAK"},"Id":"01tj0000000I2RfAAK","Name":"Installation:
        Industrial - Medium","ProductCode":"IN7060","Description":null,"LastModifiedDate":"2014-10-21T11:48:34.000+0000"},{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000I2ReAAK"},"Id":"01tj0000000I2ReAAK","Name":"GenWatt
        Gasoline 2000kW","ProductCode":"GC5060","Descrip[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Product2Id,%20UnitPrice%20from%20PricebookEntry%20where%20Product2Id%20in%20('01tj0000000I2RPAA0',%20'01tj0000000I2RfAAK',%20'01tj0000000I2ReAAK',%20'01tj0000000I2RdAAK',%20'01tj0000000I2RcAAK',%20'01tj0000000I2RbAAK',%20'01tj0000000I2RaAAK',%20'01tj0000000I2RZAA0',%20'01tj0000000I2RYAA0',%20'01tj0000000I2RXAA0',%20'01tj0000000I2RWAA0',%20'01tj0000000I2RVAA0',%20'01tj0000000I2RUAA0',%20'01tj0000000[...]
