---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20Name,%20Amount,%20CloseDate,%20LastModifiedDate,%20Account.Id,%20(SELECT%20Quantity,%20UnitPrice,%20PricebookEntry.Product2.Name,%20PricebookEntry.Product2.ProductCode%20FROM%20OpportunityLineItems),%20(SELECT%20Title,%20Body%20FROM%20Notes%20WHERE%20Title%20LIKE%20'Payment%25'),%20carrier__c%20FROM%20Opportunity%20WHERE%20LeadSource%20=%20'Web'%20AND%20StageName%20=%20'closed-won'%20AND%20LastModifiedDate%20%3E%202015-04-21T12:08:52Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 23 Apr 2015 21:12:55 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1429823575817","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"so3TXC/gATZDQYbLQ/03RT0/XXLVpKQXLVh4VWxJm04=","access_token":"00Dj0000000HAIT!AQoAQJ3koyt8qZ.HZWzABYduZmsEETHnLmw0_aESZI4S6IUyqMAB997Lr6iwF3qo38EqFZLM1phBa19QBHNLb9scireH_Gjs"}'
  recorded_at: Thu, 23 Apr 2015 21:12:55 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20Name,%20Amount,%20CloseDate,%20LastModifiedDate,%20Account.Id,%20(SELECT%20Quantity,%20UnitPrice,%20PricebookEntry.Product2.Name,%20PricebookEntry.Product2.ProductCode%20FROM%20OpportunityLineItems),%20(SELECT%20Title,%20Body%20FROM%20Notes%20WHERE%20Title%20LIKE%20'Payment%25'),%20carrier__c%20FROM%20Opportunity%20WHERE%20LeadSource%20=%20'Web'%20AND%20StageName%20=%20'closed-won'%20AND%20LastModifiedDate%20%3E%202015-04-21T12:08:52Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQJ3koyt8qZ.HZWzABYduZmsEETHnLmw0_aESZI4S6IUyqMAB997Lr6iwF3qo38EqFZLM1phBa19QBHNLb9scireH_Gjs
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j000000A0XcqAAF"},"Id":"006j000000A0XcqAAF","Name":"R454325425345","Amount":45.32,"CloseDate":"2015-01-20","LastModifiedDate":"2015-04-23T21:10:47.000+0000","Account":{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j000000EtyDOAAZ"},"Id":"001j000000EtyDOAAZ"},"OpportunityLineItems":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj00000040VnlAAE"},"Quantity":2.0,"UnitPrice":10.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000RcMQAA0"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj00000009HO6AAM"},"Name":"Java","ProductCode":"09238888"}}},{"attributes":{"type":"OpportunityLineItem","url":"/services/data/v26.0/sobjects/OpportunityLineItem/00kj00000040VngAAE"},"Quantity":2.0,"UnitPrice":12.33,"PricebookEntry":{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000000S98KAAS"},"Product2":{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000i0nUAAQ"},"Name":"JS","ProductCode":"324324134"}}}]},"Notes":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Note","url":"/services/data/v26.0/sobjects/Note/002j0000003I90bAAC"},"Title":"Payment
        # 63","Body":"Number: 63\nStatus: completed\nAmount: 210\nPayment Method:
        Credit Card"}]},"carrier__c":"Huhu"}]}'
  recorded_at: Thu, 23 Apr 2015 21:12:56 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Account.Id,%20Account.BillingCity,%20Account.BillingCountry,%20Account.BillingPostalCode,%20Account.BillingState,%20Account.BillingStreet,%20Account.Name,%20Account.Phone,%20Account.ShippingCity,%20Account.ShippingCountry,%20Account.ShippingPostalCode,%20Account.ShippingState,%20Account.ShippingStreet,%20(SELECT%20FirstName,%20LastName,%20Email%20FROM%20Contacts)%20FROM%20Account%20WHERE%20Id%20IN%20('001j000000EtyDOAAZ')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQJ3koyt8qZ.HZWzABYduZmsEETHnLmw0_aESZI4S6IUyqMAB997Lr6iwF3qo38EqFZLM1phBa19QBHNLb9scireH_Gjs
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001j000000EtyDOAAZ"},"Id":"001j000000EtyDOAAZ","BillingCity":"Hollywood","BillingCountry":"US","BillingPostalCode":"90210","BillingState":"California","BillingStreet":"1234
        Awesome Street","Name":"Dev Commerce","Phone":null,"ShippingCity":"Hollywood","ShippingCountry":"US","ShippingPostalCode":"90210","ShippingState":"California","ShippingStreet":"1234
        Awesome Street","Contacts":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS"},"FirstName":"Dev","LastName":"Commerce","Email":"dev@spreecommerce.com"}]}}]}'
  recorded_at: Thu, 23 Apr 2015 21:12:56 GMT
recorded_with: VCR 2.9.3
