---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20ProductCode,%20Description,%20LastModifiedDate%20from%20Product2%20where%20LastModifiedDate%20%3E%202015-01-23T22:14:57Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 26 Jan 2015 23:45:15 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1422315916816","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"CnWiUkaOxGZjsDwddHMDJQWOlSm8Zt9DuIl0B9Na8yk=","access_token":"00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi."}'
  recorded_at: Mon, 26 Jan 2015 23:45:17 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20ProductCode,%20Description,%20LastModifiedDate%20from%20Product2%20where%20LastModifiedDate%20%3E%202015-01-23T22:14:57Z%20ORDER%20BY%20LastModifiedDate%20ASC%20LIMIT%20100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQCsyOIjRk6cQiGrDaPM52HauNlSEkCZyByvDzuTkAtSRu.1_WN1c9VekJVLwvH.01b0DtZ.MI8GuMxTmSgMdOCkYqQi.
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=137/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 26 Jan 2015 23:45:17 GMT
recorded_with: VCR 2.9.3
