---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 16 Mar 2015 13:08:52 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1426511333756","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"ZZL+LvmHZInNAl41Vkh5Rw1ukwVPTNY/J4GxockFN24=","access_token":"00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X"}'
  recorded_at: Mon, 16 Mar 2015 13:08:53 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=13/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS"},"AccountId":"001j000000EtyDOAAZ"}]}'
  recorded_at: Mon, 16 Mar 2015 13:08:54 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'dev@spreecommerce.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=13/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS"},"Id":"003j0000008Iy1MAAS"}]}'
  recorded_at: Mon, 16 Mar 2015 13:08:55 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Contact/003j0000008Iy1MAAS
    body:
      encoding: UTF-8
      string: '{"FirstName":"Dev","LastName":"Commerce","Email":"dev@spreecommerce.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000","AccountId":"001j000000EtyDOAAZ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=13/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Mar 2015 13:08:56 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20Name%20=%20'Sales%20Price'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=13/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000003XAY7AAO"},"Id":"01sj0000003XAY7AAO"}]}'
  recorded_at: Mon, 16 Mar 2015 13:08:57 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=13/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01sj0000000DbL5AAK"},"Id":"01sj0000000DbL5AAK"}]}'
  recorded_at: Mon, 16 Mar 2015 13:08:58 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'R442535235245'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v26.0/sobjects/Opportunity/006j000000A0XS5AAN"},"Id":"006j000000A0XS5AAN"}]}'
  recorded_at: Mon, 16 Mar 2015 13:08:59 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Opportunity/006j000000A0XS5AAN
    body:
      encoding: UTF-8
      string: '{"Amount":210,"Probability":"100","CloseDate":"2015-01-20T17:29:15.219Z","Name":"R442535235245","Pricebook2Id":"01sj0000000DbL5AAK","LeadSource":"Web","StageName":"closed-won","AccountId":"001j000000EtyDOAAZ","Pricebook2Id":"01sj0000003XAY7AAO"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Mar 2015 13:09:00 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'324324134'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01tj0000000i0nUAAQ"},"Id":"01tj0000000i0nUAAQ"}]}'
  recorded_at: Mon, 16 Mar 2015 13:09:01 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000003XAY7AAO'%20and%20Product2Id%20=%20'01tj0000000i0nUAAQ'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01uj0000002htRNAAY"},"Id":"01uj0000002htRNAAY","IsActive":true}]}'
  recorded_at: Mon, 16 Mar 2015 13:09:01 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01uj0000002htRNAAY
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Mar 2015 13:09:02 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j000000A0XS5AAN'%20and%20PricebookEntryId%20=%20'01uj0000002htRNAAY'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:03 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":12.33,"OpportunityId":"006j000000A0XS5AAN","PricebookEntryId":"01uj0000002htRNAAY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Location:
      - "/services/data/v26.0/sobjects/OpportunityLineItem/00kj00000040Vn2AAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00kj00000040Vn2AAE","success":true,"errors":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:05 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01sj0000003XAY7AAO'%20and%20Product2Id%20=%20'01tj00000009HO6AAM'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:06 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01sj0000003XAY7AAO","Product2Id":"01tj00000009HO6AAM","UnitPrice":10.33,"IsActive":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Location:
      - "/services/data/v26.0/sobjects/PricebookEntry/01uj0000002htSkAAI"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"01uj0000002htSkAAI","success":true,"errors":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:07 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'006j000000A0XS5AAN'%20and%20PricebookEntryId%20=%20'01uj0000002htSkAAI'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=14/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:08 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment%20%23%2063'%20AND%20ParentId%20=%20'006j000000A0XS5AAN'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=15/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:10 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Payment # 63","Body":"Number: 63\nStatus: completed\nAmount:
        210\nPayment Method: Credit Card\n","IsPrivate":false,"ParentId":"006j000000A0XS5AAN"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQEEZDmZ10vNrSQlTaSi5gyrW9.9fNmH9MuDCCiWejD9t_la7KUxH0C6O4rEzPo3M.Qrpeo8iUXhOD4QPWVuuni2Fz81X
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=16/15000
      Location:
      - "/services/data/v26.0/sobjects/Note/002j0000003I8yzAAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"002j0000003I8yzAAC","success":true,"errors":[]}'
  recorded_at: Mon, 16 Mar 2015 13:09:11 GMT
recorded_with: VCR 2.9.3
