---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=spree_id&client_secret=spree_secret&username=spree_user&password=spree_pwdspree_sec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1419283247805","token_type":"Bearer","instance_url":"https://na16.salesforce.com","signature":"aLo/snZrD1cJ0YGb4DBsXPX8HKWABxen/S18wNRuPrM=","access_token":"00Dj0000000HAIT!AQoAQKsmJW2.pqwR6E7AeWTm3Gz24eHaBV_hY3puj8g3vxCr1eVTDGaMmcpf0qKGODji7mhLqnKpl2dtD2mTXThUKoR9nzOp"}'
  recorded_at: Mon, 22 Dec 2014 21:20:47 GMT
- request:
    method: get
    uri: https://na16.salesforce.com/services/data/v26.0/sobjects/Opportunity/Name/R9999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQKsmJW2.pqwR6E7AeWTm3Gz24eHaBV_hY3puj8g3vxCr1eVTDGaMmcpf0qKGODji7mhLqnKpl2dtD2mTXThUKoR9nzOp
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Sforce-Limit-Info:
      - api-usage=33/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorCode":"NOT_FOUND","message":"The requested resource does not
        exist"}]'
  recorded_at: Mon, 22 Dec 2014 21:20:48 GMT
recorded_with: VCR 2.9.3
