---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'mundolivre@sa.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Wed, 18 Feb 2015 17:03:34 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Dj0000000HAITEA4/005j000000Au8sKAAR","issued_at":"1424279015341","scope":"api
        refresh_token","instance_url":"https://na.salesforce.com","token_type":"Bearer","signature":"UX4wauN+uKNS7NIOtA+u+66zlRvamy47ouY9pNr7HC8=","access_token":"00Dj0000000HAIT!AQoAQLUz2Z3B1xrYN0wPSjm1FE.mmUhltMXGs5BuRrs2wkWnHVLc9iCnr1TDWRjjRHk7otqnb9BnDqtZHfr0xd4IzX3Opv3H"}'
  recorded_at: Wed, 18 Feb 2015 17:03:35 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'mundolivre@sa.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLUz2Z3B1xrYN0wPSjm1FE.mmUhltMXGs5BuRrs2wkWnHVLc9iCnr1TDWRjjRHk7otqnb9BnDqtZHfr0xd4IzX3Opv3H
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 18 Feb 2015 17:03:36 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"ShippingStreet":"1234 Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","RecordTypeId":"012j0000000GYbLAAW","Name":"Mundo
        Livre","AccountNumber":"mundolivre@sa.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Wed, 18 Feb 2015 17:03:37 GMT
[...]
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"ShippingStreet":"1234 Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","RecordTypeId":"012j0000000GYbLAAW","Name":"Mundo
        Livre","AccountNumber":"mundolivre@sa.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Dj0000000HAIT!AQoAQLUz2Z3B1xrYN0wPSjm1FE.mmUhltMXGs5BuRrs2wkWnHVLc9iCnr1TDWRjjRHk7otqnb9BnDqtZHfr0xd4IzX3Opv3H
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Sforce-Limit-Info:
      - api-usage=2/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Record Type ID: this ID value isn''t valid for the user:
        012j0000000GYbLAAW","errorCode":"INVALID_CROSS_REFERENCE_KEY","fields":["RecordTypeId"]}]'
  recorded_at: Wed, 18 Feb 2015 17:03:39 GMT
recorded_with: VCR 2.9.3
