---
http_interactions:
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'tttkida@radiohead.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:20:47 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token&client_id=spree_id&client_secret=spree_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00D80000000PUPjEAO/00580000005G6YDAA0","issued_at":"1424319648725","scope":"api
        refresh_token","instance_url":"https://na6.salesforce.com","token_type":"Bearer","signature":"pnXmK3/TGBQD7iSfUwUsBF9BdZ/g/fenHDkH3s4ZjdI=","access_token":"00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt"}'
  recorded_at: Thu, 19 Feb 2015 04:20:49 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20AccountId%20from%20Contact%20where%20Email%20=%20'tttkida@radiohead.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2446/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 19 Feb 2015 04:20:50 GMT
- request:
    method: post
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"ShippingStreet":"1234 Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","AccountNumber":"tttkida@radiohead.com","RecordTypeId":"01280000000QAKvAAO","FirstName":"Kid
        A","LastName":"Test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:20:51 GMT
[...]
- request:
    method: post
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"ShippingStreet":"1234 Awesome Street","ShippingCity":"Hollywood","ShippingState":"California","ShippingPostalCode":"90210","ShippingCountry":"US","BillingStreet":"1234
        Awesome Street","BillingCity":"Hollywood","BillingState":"California","BillingPostalCode":"90210","BillingCountry":"US","AccountNumber":"tttkida@radiohead.com","RecordTypeId":"01280000000QAKvAAO","FirstName":"Kid
        A","LastName":"Test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=2446/19000
      Location:
      - "/services/data/v26.0/sobjects/Account/0018000001HsiPQAAZ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0018000001HsiPQAAZ","success":true,"errors":[]}'
  recorded_at: Thu, 19 Feb 2015 04:20:54 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20AccountId%20=%20'0018000001HsiPQAAZ'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2446/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v26.0/sobjects/Contact/0038000001kK9fvAAC"},"Id":"0038000001kK9fvAAC"}]}'
  recorded_at: Thu, 19 Feb 2015 04:20:55 GMT
- request:
    method: patch
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/Contact/0038000001kK9fvAAC
    body:
      encoding: UTF-8
      string: '{"FirstName":"Kid A","LastName":"Test","Email":"tttkida@radiohead.com","MailingStreet":"1234
        Awesome Street","MailingCity":"Hollywood","MailingState":"California","MailingPostalCode":"90210","MailingCountry":"US","OtherStreet":"1234
        Awesome Street","OtherCity":"Hollywood","OtherState":"California","OtherPostalCode":"90210","OtherCountry":"US","Phone":"0000000000","OtherPhone":"0000000000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=2446/19000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Feb 2015 04:20:57 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:20:58 GMT
[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20PriceBook2%20where%20Name%20=%20'Standard%20Price%20Book'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2447/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01s80000000VJOjAAO"},"Id":"01s80000000VJOjAAO"}]}'
  recorded_at: Thu, 19 Feb 2015 04:21:00 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Opportunity%20WHERE%20Name%20=%20'TTT54352352345245'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2447/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:01 GMT
- request:
    method: post
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Amount":210,"Probability":"100","CloseDate":"2015-02-11T17:29:15.219Z","Name":"TTT54352352345245","Pricebook2Id":"01s80000000VJOjAAO","LeadSource":"Web","StageName":"closed-won","AccountId":"0018000001HsiPQAAZ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=2447/19000
      Location:
      - "/services/data/v26.0/sobjects/Opportunity/0068000000vYwUMAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0068000000vYwUMAA0","success":true,"errors":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:03 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:21:04 GMT
[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Pricebook2%20WHERE%20isStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2448/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v26.0/sobjects/Pricebook2/01s80000000VJOjAAO"},"Id":"01s80000000VJOjAAO"}]}'
  recorded_at: Thu, 19 Feb 2015 04:21:07 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'ttt324324134'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2448/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v26.0/sobjects/Product2/01t80000003pZY7AAM"},"Id":"01t80000003pZY7AAM"}]}'
  recorded_at: Thu, 19 Feb 2015 04:21:08 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01s80000000VJOjAAO'%20and%20Product2Id%20=%20'01t80000003pZY7AAM'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2449/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvotAAD"},"Id":"01u8000000CPvotAAD","IsActive":true}]}'
  recorded_at: Thu, 19 Feb 2015 04:21:09 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvotAAD
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:21:10 GMT
[...]
- request:
    method: patch
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvotAAD
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":12.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=2450/19000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Feb 2015 04:21:12 GMT
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'0068000000vYwUMAA0'%20and%20PricebookEntryId%20=%20'01u8000000CPvotAAD'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:21:14 GMT
[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'0068000000vYwUMAA0'%20and%20PricebookEntryId%20=%20'01u8000000CPvotAAD'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2450/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:16 GMT
- request:
    method: post
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/OpportunityLineItem
    body:
      encoding: UTF-8
      string: '{"Quantity":2,"UnitPrice":12.33,"OpportunityId":"0068000000vYwUMAA0","PricebookEntryId":"01u8000000CPvotAAD"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=2451/19000
      Location:
      - "/services/data/v26.0/sobjects/OpportunityLineItem/00k8000000omPHdAAM"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00k8000000omPHdAAM","success":true,"errors":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:17 GMT
[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=SELECT%20Id,%20IsActive%20FROM%20PricebookEntry%20where%20Pricebook2Id%20=%20'01s80000000VJOjAAO'%20and%20Product2Id%20=%20'01t80000003pZYCAA2'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2450/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvoyAAD"},"Id":"01u8000000CPvoyAAD","IsActive":true}]}'
  recorded_at: Thu, 19 Feb 2015 04:21:20 GMT
- request:
    method: patch
    uri: https://na.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvoyAAD
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":10.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:21:21 GMT
[...]
- request:
    method: patch
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/PricebookEntry/01u8000000CPvoyAAD
    body:
      encoding: UTF-8
      string: '{"IsActive":true,"UnitPrice":10.33}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=2450/19000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Feb 2015 04:21:24 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20OpportunityLineItem%20where%20OpportunityId%20=%20'0068000000vYwUMAA0'%20and%20PricebookEntryId%20=%20'01u8000000CPvoyAAD'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2451/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:25 GMT
[...]
- request:
    method: get
    uri: https://na.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment%20%23%2063'%20AND%20ParentId%20=%20'0068000000vYwUMAA0'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Thu, 19 Feb 2015 04:21:28 GMT
[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v26.0/query?q=SELECT%20Id%20FROM%20Note%20WHERE%20Title%20=%20'Payment%20%23%2063'%20AND%20ParentId%20=%20'0068000000vYwUMAA0'%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=2451/19000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:31 GMT
- request:
    method: post
    uri: https://na6.salesforce.com/services/data/v26.0/sobjects/Note
    body:
      encoding: UTF-8
      string: '{"Title":"Payment # 63","Body":"Number: 63\nStatus: completed\nAmount:
        210\nPayment Method: Credit Card\n","IsPrivate":false,"ParentId":"0068000000vYwUMAA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D80000000PUPj!ARwAQNHFa_Edv6qcWUGPovxZh4UrMJBIv2MWu6rsZEWmZt9vAvLKacutigiNhaKGY1OBdgU2AoZi3jnMvUgArxgn5TM4IASt
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=2451/19000
      Location:
      - "/services/data/v26.0/sobjects/Note/0028000000ctMI1AAM"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0028000000ctMI1AAM","success":true,"errors":[]}'
  recorded_at: Thu, 19 Feb 2015 04:21:32 GMT
recorded_with: VCR 2.9.3
