---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9WtWSKUDG.x5hyqXeboVoSErlfbiCvJNDfuwmN77rRhJ6tqCeFKFhuFvMNo0COBif7CT1NnevkMq464Qp&client_secret=3920716088724079571&username=tester%2Bnetguru%40netguru.co&password=testtest12398feCLrdLjqN7Ji8zhhWf3uc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://login.salesforce.com/id/00D20000000CtLCEA0/005200000039DC4AAM\",\"issued_at\":\"1397244432468\",\"instance_url\":\"https://emea.salesforce.com\",\"signature\":\"xceiwtX1j8yaiaGqnJIkxOIGwmZ43VFPOJ0WGPDDgcw=\",\"access_token\":\"00D20000000CtLC!ARcAQOhfg7d8ONPj1MUts5yrP2WW.ul0dDQxhDWGOrw9MwkaZ_g3IoyVloqdiJ5.xBW8sayE6VkFteHWWnJSYVnbFnQPKFsx\"}"
  recorded_at: Fri, 11 Apr 2014 19:27:12 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Product2%20where%20ProductCode%20=%20'SPREE-T-SHIRT-S'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOhfg7d8ONPj1MUts5yrP2WW.ul0dDQxhDWGOrw9MwkaZ_g3IoyVloqdiJ5.xBW8sayE6VkFteHWWnJSYVnbFnQPKFsx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=107/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v26.0/sobjects/Product2/01t20000003xwtoAAA\"},\"Id\":\"01t20000003xwtoAAA\"}]}"
  recorded_at: Fri, 11 Apr 2014 19:27:13 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Product2/01t20000003xwtoAAA
    body:
      encoding: UTF-8
      string: "{\"Name\":\"Spree T-Shirt\",\"ProductCode\":\"SPREE-T-SHIRT-S\",\"Description\":\"Awesome
        Spree T-Shirt\",\"Price__c\":35,\"ExternalID__c\":\"SPREE-T-SHIRT-S\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQOhfg7d8ONPj1MUts5yrP2WW.ul0dDQxhDWGOrw9MwkaZ_g3IoyVloqdiJ5.xBW8sayE6VkFteHWWnJSYVnbFnQPKFsx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=106/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 11 Apr 2014 19:27:14 GMT
recorded_with: VCR 2.8.0
