---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9WtWSKUDG.x5hyqXeboVoSErlfbiCvJNDfuwmN77rRhJ6tqCeFKFhuFvMNo0COBif7CT1NnevkMq464Qp&client_secret=3920716088724079571&username=tester%2Bnetguru%40netguru.co&password=testtest12398feCLrdLjqN7Ji8zhhWf3uc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://login.salesforce.com/id/00D20000000CtLCEA0/005200000039DC4AAM\",\"issued_at\":\"1395304499583\",\"instance_url\":\"https://emea.salesforce.com\",\"signature\":\"GW69Z1+zC1dQCpI0+j4JQvrxz7zmagoAAmCQoUAGkbM=\",\"access_token\":\"00D20000000CtLC!ARcAQJxbTl8fKuKEAC6gHOQFXyFsR_e2WhV44UeTP_HO4jjJo8_6xJvCu6sLiDCxgFbDO_cSLQ9mqvT6JBZuYdsk2a6wu4I3\"}"
  recorded_at: Thu, 20 Mar 2014 08:34:59 GMT
- request:
    method: get
    uri: https://emea.salesforce.com/services/data/v26.0/query?q=select%20Id%20from%20Contact%20where%20Email%20=%20'spree@example.com'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQJxbTl8fKuKEAC6gHOQFXyFsR_e2WhV44UeTP_HO4jjJo8_6xJvCu6sLiDCxgFbDO_cSLQ9mqvT6JBZuYdsk2a6wu4I3
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=7/5000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"Contact\",\"url\":\"/services/data/v26.0/sobjects/Contact/0032000001BfIFGAA3\"},\"Id\":\"0032000001BfIFGAA3\"}]}"
  recorded_at: Thu, 20 Mar 2014 08:35:00 GMT
- request:
    method: patch
    uri: https://emea.salesforce.com/services/data/v26.0/sobjects/Contact/0032000001BfIFGAA3
    body:
      encoding: UTF-8
      string: "{\"FirstName\":\"Joe\",\"LastName\":\"Smith\",\"Email\":\"spree@example.com\",\"MailingStreet\":\"1234
        Awesome Street\",\"MailingCity\":\"Hollywood\",\"MailingState\":\"California\",\"MailingPostalCode\":\"90210\",\"MailingCountry\":\"US\",\"OtherStreet\":\"1234
        Awesome Street\",\"OtherCity\":\"Hollywood\",\"OtherState\":\"California\",\"OtherPostalCode\":\"90210\",\"OtherCountry\":\"US\",\"Phone\":\"0000000000\",\"OtherPhone\":\"0000000000\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D20000000CtLC!ARcAQJxbTl8fKuKEAC6gHOQFXyFsR_e2WhV44UeTP_HO4jjJo8_6xJvCu6sLiDCxgFbDO_cSLQ9mqvT6JBZuYdsk2a6wu4I3
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=7/5000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Mar 2014 08:35:01 GMT
recorded_with: VCR 2.8.0
